* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


 .dt-buttons {
    display: none;
} 

/* #example_info {
    display: none;
}  */

.tituloresp {
    margin-top: 2%;
    margin-bottom: 2%;
}


.bperfil {
    background-color: orange;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 9px;
    color: whitesmoke;
    
  }

  .bperfil:hover {
    background-color: #1606f9;
   
  }

.body2 {
    
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://m.eltiempo.com/uploads/2018/06/06/5b177c3b22c8e.jpeg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
    padding-top: 5%;
}
.Administrador {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  
    height: auto;
    gap: 30px;
    /* box-shadow: 0px 0px 26px -16px black; */
    border-radius: 20px;  
    background-color: transparent;
    position: relative;
}

.container-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: auto;
    padding: 0 30px;
    border-radius: 2rem;
    background-color: #E0E5EB;
    padding-bottom: 20px;
}
.container-buttons {
    
    justify-content:space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: auto;
    height: 40px;

}

.container-buttons button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-style: none;
    background-color: #4158d0;
    color: white;
    padding: 1px;
    border-radius: 8px;
}
.container-buttons button a {
    padding: auto;
    font-size: 10px;
    flex-shrink: 1;
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-family: 'Open Sans', sans-serif;

}
button.bperfil:hover{
background-color: #150759;
}
button.bperfil1:hover{
    background-color: #150759;
}
.table {
    width: 100%;
    /* min-width: 770px; */
    /* max-width: 900px; */
    border-collapse: collapse;
    background-color: white;
}

.Status a:hover {
    color: whitesmoke;
}


.Status a {
    text-decoration: none;
    width: 80px;
    height: 30px;
    padding-top: 8px;
    padding: 6px;
    border-radius: 10px;
    color: white;
    padding: 5px;
}


.eliminar { 
    background-color: #DC3545;
}

.eliminar:hover {
    background-color: #ff0019;
    border-radius: 0%;
}

.Status a:hover {
    color: whitesmoke;
}

.contestar {
    background-color: #28A745;
}

.contestar:hover {
    background-color: green;
    border-radius: 0%;
}


.table td, .table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 13px;
}

.table th {
    background-color: #CCD3DB;
    color: #4158d0;
    font-weight: 900;
}



.imagen-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 26px -16px #150759;
    border-radius: 2rem;
    background-color: #E0E5EB;
}

.imagen-admin a {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.imagen-admin h1 {
    font-size: 18px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.imagen-admin h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}


.imagen-admin p {
    font-size: 13px;
    margin-bottom: 5px;
    text-align: left;
}

.imagen-admin a + p {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}
.notaagregar{
    text-align: center;
}

.svg-pdf {
    display: inline-block;
    background-image: url(../images/ICONS/pdf-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.svg-excel {
    display: inline-block;
    background-image: url(../images/ICONS/excel-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}
