* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images8.alphacoders.com/724/724020.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
}

.body {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images8.alphacoders.com/724/724020.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
}
/* 
button.bperfil:hover{
    background-color: #150759;
    }
    button.bperfil1:hover{
        background-color: #150759;
    } */

    .bperfil {
        background-color: #F98806;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 9px;
        color: whitesmoke;
        
      }

      .bperfil:hover {
        background-color: #1606f9;
       
      }


      .pdf{
        border-radius: 5px;
        margin: 1px;
    }
     
    ul.dropdown-menu.show{
        background-color: #4158d0;
        color: white;
    }
     
    a.dropdown-item{
        color: white;
    }
    a.dropdown-item:hover{
        background-color: #212529;
        color: white;
    }
     
    


.eliminar { 
    background-color: #DC3545;
}

.eliminar:hover {
    background-color: #ff0019;
    border-radius: 0%;
}

.Status a:hover {
    color: whitesmoke;
}

.contestar {
    background-color: rgb(192, 31, 31);
}

.contestar:hover {
    background-color: rgb(255, 0, 0);
    border-radius: 0%;
}
.cancelar { 
    background-color: grey;
  }
  
  .cancelar:hover {
    background-color: grey;
    border-radius: 0%;
  }

  .contestada {
    background-color: #6bac7a;
}



  .Status button{
    text-decoration: none;
    width: 80px;
    height: 30px;
    padding-top: 9px;
    padding: 6px;
    border-radius: 10px;
    color: white;
    padding: 5px;
  
  
  }
  
  .Status button:hover{
    color: whitesmoke;
  }
    

  
:focus {
    outline: 1px solid #4158d0;
  }
/* .body:before {
    content: '';
    position: absolute;
    background-color: black;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
} */

.dropdown {
    display: none;
    width: 50%;
  }
  
  .banderas {
    width: 145px;
  }
  
  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 7rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
  }
  
  ul, li {
	margin: 0px;
	list-style-type: none;
  
}


.botonescontestar {
display: flex;
justify-content: center;
}


.dt-button {
    border: none;
}

.svg-pdf {
    display: inline-block;
    background-image: url(../images/ICONS/pdf-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.svg-excel {
    display: inline-block;
    background-image: url(../images/ICONS/excel-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}





.container-main-admin {
    position: relative;
}

.container-buttons-search {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    width: 95%;
    box-shadow: 0px 0px 26px -16px black;
    padding: 20px 0 20px 0;
    max-width: 1300px;
}

.container-buttons {
    
    justify-content:space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: auto;
    height: 40px;

}

.container-buttons button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-style: none;
    background-color: #4158d0;
    color: white;
    border-radius: 8px;
    padding-top: 1%;
}

.Botonseleccionado {
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-style: none;
    background-color: #d08641;
    border-radius: 8px;
}


.container-buttons button a {
    padding: auto;
    font-size: 10px;
    flex-shrink: 1;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.container-search input {
    width: 150px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    border-style: none;
    padding-left: 35px;
    color: white;
    background: #4158d0;
    border: none;
    outline: none;
    flex-shrink: 1;
}


.botonescp {
    margin: auto;
}


.Administrador {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
    height: auto;
    gap: 30px;
    /* box-shadow: 0px 0px 26px -16px black; */
    border-radius: 20px;
  
   
    background-color: transparent;
    position: relative;
}


.notaagregar{
    font-size: small;
    padding: 1%;
    margin-bottom: 0%;
}

.notaresponder{
    font-size: unset;
    padding: 1%;
    margin-bottom: 0%;
}

.notaagregari{
    font-size: x-small;
    padding: 1%;
}

.inputsu {
    display: none;
}

.container-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: auto;
    padding: 0 30px;
    border-radius: 2rem;
    background-color: #E0E5EB;
    padding-bottom: 20px;
}

/* .Descrip {
    min-width: 400px;
} */

.img-adm {
    width: 100%;
}

.img-adm img {
    width: 180px;
    border-radius: 50%;
    left: calc(50% - 90px);
}

/* .container-admin h2 {
    font-size: 13px;
    margin-bottom: 10px;
    color:#150759
} */

.container-admin label {
    background: #4158d0;
    height: 25px;
    width: 100px;
    margin: 15px 0 0 0;
    border-radius: 100px;
    border: none;
    text-align: center;
    color: white;
    cursor: pointer;
}



.container-admin button a {
    text-decoration: none;
    font-size: 13px;
    font-weight:bold;
    color: white;
}


 
.imagen-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 26px -16px #150759;
    border-radius: 2rem;
    background-color: #E0E5EB;
}

.imagen-admin a {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.imagen-admin h1 {
    font-size: 18px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.imagen-admin h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.imagen-admin p {
    font-size: 13px;
    margin-bottom: 5px;
    text-align: left;
}

.imagen-admin a + p {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}


.Status a {
    text-decoration: none;
    width: 80px;
    height: 30px;
    padding-top: 8px;
    padding: 6px;
    border-radius: 10px;
    color: white;
    padding: 5px;
}



.table {
    width: 100%;
    /* min-width: 770px; */
    /* max-width: 900px; */
    border-collapse: collapse;
    background-color: white;
}

.table td, .table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 13px;
}

.table th {
    background-color: #CCD3DB;
    color: #4158d0;
    font-weight: 900;
}

/* .table tbody tr:nth-child(even){
    background-color: #e3d9f3;
} */

/* .Email-adm {
    height: auto;
    width: auto;
} */


/* Ventana Modal edit adm */
.container-main-edit {
    display: none;
    height: auto;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(69, 38, 132, 0.46);
    height: 100vh;
    width: 100vw;
}

.show {
    display: block;
}
/* 
.jhoan {
    display: block;
} */


.azul {
    display: block;
}

.container-edit h2 {
    margin-bottom: 20px;
}

.container-edit h2::first-letter {
    font-size: 30px;
    font-weight: normal;
}

.container-edit img {
    width: 220px;
    height: 160px;
    margin-bottom: 30px;
}

.form-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 600px;
    background: white;
    opacity: 1;
    border-radius: 25px;
    box-shadow: 0px 2px 6px black;
    padding: 30px 20px;
}


.inputs-2-colums {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 13px;
    margin-bottom: 25px;
    /* column-count: 2; */
    width: auto;
    height: auto;
}

.inputs-2-colums input {
    width: 255px;
    height: 40px;
    border-radius: 25px;
    outline: none;
    padding-left: 10px;
    font-weight: bolder;
    /* background-color: rgb(230, 230, 230);; */
    border: 1px solid #000180;
}

.container-button-edit {
    display: flex;
    column-gap: 20px;
}

.container-button-edit button {
    width: 130px;
    height: 32px;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

/* .inputs-2-colums input {
    -webkit-box-shadow: 0px 4px 6px 0px rgba(65,88,208,1);
    -moz-box-shadow: 0px 4px 6px 0px rgba(65,88,208,1);
    box-shadow: 0px 4px 6px 0px rgba(65,88,208,1);
} */

.container-button-edit button:nth-child(1):hover {
    color: #DC3545;
    background-color: white;
    border: 3px solid #DC3545;
    font-weight: bolder;
}

.container-button-edit button:nth-child(1) {
    background-color: #DC3545;
}

.container-button-edit button:nth-child(1):hover {
    color: #DC3545;
    background-color: white;
    border: 3px solid #DC3545;
    font-weight: bolder;
}

.container-button-edit button:nth-child(2) {
    background-color: #28A745;
}

.container-button-edit button:nth-child(2):hover {
    color: #28A745;
    background-color: white;
    border: 3px solid #28A745;
    font-weight: bolder;
}

/* ventana modal pqrs contestada */

.container-main-contestadas {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(69, 38, 132, 0.46);
}

.rojo {
    display: block;
}

/* .active {
    display: block;
} */

.container-contestadas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
    height: inherit;
}

.container-contestadas form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 20px;
    border-radius: 25px;
    box-shadow: 0px 2px 6px black;
    width: 600px;
    height: 300px;
}

.container-contestadas form h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.container-contestadas form input {
    height: 170px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

.container-contestadas form input::placeholder {
    text-align: center;
}

.container-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.container-btn button {
    width: 130px;
    height: 32px;
    border-radius: 8px;
    background-color: #28A745;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.container-btn button:hover {
    color:#28A745;;
    background-color: white;
    border: 3px solid #28A745;
    font-weight: bolder;
}

.btn-group, .btn-group-vertical {
    position: absolute !important;
}

 
/* Responsive */

@media(max-width: 800px) {
    /* .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 20%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    } */

    .container-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
        justify-items: center;
        align-items: center;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: auto;
        height: auto;
        width: 95%;
    }

    .container-buttons button {
        width: 150px;
        height: 30px;
        cursor: pointer;
    }

}








