* {
  margin: 0;
  padding: 0;
  font-family: poppins-Medium;
}
body {
  background-image: url(https://images.pexels.com/photos/185933/pexels-photo-185933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.limiter {
  width: 100%;
  margin: 0 auto;
}

.txt1{
  font-family: Open Sans, sans-serif;
  color: #666666;
}

.contenedor-formulario {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 6%;
}
.wrap-formulario {
  margin: auto;
  background: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 3px 5px 15px;
}

.logo-formulario {
  width: auto;
}

.logo-formulario img {
  max-width: 300px;
}
.formulario {
  justify-content: center;
  padding: 20px;
  width: 60%;
  background-color: white;
  border-radius: 10px;
}
.titulo-formulario {
  font-family: Open Sans, sans-serif;
  font-size: 40px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 15px;
  width: 100%;
  display: block;
  font-weight: bolder;
}
.wrap-inputs {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 1px;
  justify-content: center;
}
.inputs-general {
  font-family: Poppins-Medium;
  font-size: 18px;
  line-height: 1.5;
  color: #666666;
  margin-bottom: 3px;
  margin-right: 5px;
  display: flex;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 20px;
  border: 1px #666666;
}


.columna1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.columna2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.condiciones {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
  font-family: Poppins-medium;
  margin-top: 10px;
}
.terminos {
  color: black;
  font-size: 14px;
  line-height: 1.7;
}
.checkbox {
  margin-left: 11px;
  /* accent-color: orange; */
}

button.btn {
  color: whitesmoke;
  background-color: #4158d0;
  border: solid 2px #4158d0;
}
button.btn:hover {
  background-color: #fa8303;
  border: solid 1px #fa8303;
  transform: translateY(-2px);
  color: whitesmoke;
}
.text-new {
  display: flow-root;
  text-align: center;
}
.txt2 {
  font-family: Poppins-medium;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.terminos:hover {
  color: #fa8303;
}
.txt2:hover {
  color: #fa8303;
}

.inputs-generalpop {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  text-align:left;
  display: flex;
  width: 100%;
  background: #e6e6e6;
  height: 40px;
  border-radius: 25px;
  padding: 0 10px 0 68px;
  border: 1px #666666;
  margin-bottom: 2%;

}


/* responsive */
@media (max-width: 1200px) {
  #logo {
    width: 300px;
    margin: 0 0 35px 0;
  }

 

  .titulo-formulario {
    padding: 10px;
  }

  .contenedor-formulario {
    padding: 20px;
    background-color: transparent;
  }

  .wrap-formulario {
    /*justify-content:space-evenly;*/
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1093px) {
  #logo {
    width: 700px;
  }
}

@media (max-width: 882px) {
  .wrap-formulario {

  flex-wrap: wrap;
   gap: 7px;
    padding: 3px;
  }

  .formulario {
    padding: 0 0 20px 0;
  }

  #logo {
    margin: 0;
  }

}

@media (max-width: 408px) {
  
  .text-new {
    display: grid;
  }


}

.text-new {
  display: flow-root;
  text-align: center;
}

:focus {
  outline: 1px solid #4158d0;
}
/* Modal */
.modal-title-condiciones {
  padding-left: 20px;
  font-family: Open Sans, sans-serif;
  font-size: 30px;
  color: #333333;
  font-weight: bolder;
}
.terminos-condiciones{
  text-align: justify;
  color: black;
  font-family: Open Sans, sans-serif;
}
.btn-terminos{
  border: solid 2px black;
  color: whitesmoke;
  background-color: black;
  padding: 7px;
}
.btn-terminos:hover{
  background-color: red;
  border: solid 2px red;
  color: whitesmoke;
  transform: translateY(-2px);

}