* {
	margin: 0px;
	padding: 0px; 
	box-sizing: border-box;
}
body, html {
	height: 100%;
  font-family: Open Sans, sans-serif;
  background-image: url(../images/fondologinregistro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  object-fit: cover;
}

.contenedor-login {
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 4%;
  margin-bottom: 5%;
}

.wrap-inicio {
  width: auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content:right;
  padding: 30px 30px;
  padding-bottom: 1%;
  box-shadow: #555454 5px 5px 5px 5px;
}

.habili {
  width: auto;
  background: #fff;
  border-radius: 10px;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 30px;
  padding-bottom: 1%;
  box-shadow: #555454 5px 5px 5px 5px;
}

.logo-formulario {
  width: 300px;
}

.logo-formulario img {
  max-width: 100%;
}
#logo{
  position: relative;
  padding-top: 2rem;
}
.formulario{
  justify-content: center;
  padding: 20px 20px;
  padding-left: 30px;
}
.login100-form {
  width: 290px;
}
.titulo-login {
  font-family: Open Sans, sans-serif;
  font-size: 40px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 30px;
  width: 100%;
  display: block;
  font-weight: bolder;
}

.subtitulo-login {
  font-family: Open Sans, sans-serif;
  font-size: 25px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 2%;
  width: 100%;
  display: block;
  font-weight: bolder;
}

.titulito{
 margin: 0;
 font-size: 14px;
 text-align: center;
}

.info{
  text-align: center;

}

.wrap-inputs {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.inputs-general {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  text-align:left;
  display: flex;
  width: 100%;
  background: #e6e6e6;
  height: 40px;
  border-radius: 25px;
  padding: 0 10px 0 68px;
  border: 1px #666666;

}

.inputs-generalpop {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  text-align:left;
  display: flex;
  width: 100%;
  background: #e6e6e6;
  height: 40px;
  border-radius: 25px;
  padding: 0 10px 0 68px;
  border: 1px #666666;

}


.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7px;
}

button.btn{
  color:whitesmoke;
  background-color: #4158d0;
  border: solid 2px #4158d0;
}
button.btn:hover{
  background-color: #fa8303;
  border: solid 1px #fa8303;
color: whitesmoke;
}
button.cancelar{
  color: whitesmoke;
  background-color: red ;
  border: solid 2px red;
}
button.cancelar:hover{
  background-color:rgb(185, 0, 0) ;
  border: solid 1px rgb(185, 0, 0);
}
.txt2 {
  font-family: Open Sans, sans-serif;
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}
.txt1{
  font-family: Open Sans, sans-serif;
  color: #666666;
}

:focus {
  outline: 1px solid #4158d0;
}
.txt2:hover{
  color: #FA8303;
}
/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-inicio {
    padding: 10px 10px;
  }

  .logo-formulario {
    width: 35%;
  }


}

@media (max-width: 768px) {
  .wrap-inicio {
    padding: 30px 30px;
  }

  .logo-formulario {
    display: none;
  }

  .titulo-login {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-inicio {
    padding: 15px;
  }
}


/* Modal */
.modal-title{
  font-family: Open Sans, sans-serif;
  font-size: 30px;
  color: #333333;
  font-weight: bolder;

}
.inputs-modal{
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  text-align:center;
  display: flex;
  width: 67%;
  background: #e6e6e6;
  height: 40px;
  border-radius: 25px;
  border: solid 1px #666666;
  margin-left: 80px;
}
.modal-footer{
  display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    flex-direction: column;
}
.btnmodal{
  color: black;
font-family: Open Sans, sans-serif;
}
.btnmodal:hover{
  color: #FA8303;
}

.notaolvi{
  font-size: unset;
  padding: 1%;
  text-align: center;
  margin-bottom: 1%;
}


.contenedor-modal{
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 1%; 
}
.modal-wrap{
  width: auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content:right;
  padding: 30px 30px;
  padding-bottom: 1%;
  
  box-shadow: #555454 0px 0px 4px 1px;

}
.logo-modal{
  width: 50%;
}
.logo-modal img{
  max-width: 100%;

}
#logo-modal{
  position: relative;
  padding-top: 1rem;

}
.formulario-modal{
  width: 100%;

}
.login100-form-modal {
  width: 100%;
  margin: auto;
}

.wrap-inputs-modal {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}


.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
button.btn-modal{
  color: whitesmoke;
background-color: #4158d0;
border: solid 2px #4158d0;
padding: 3px ;
margin-left: 82px;
}
button.btn-modal:hover{
  background-color: #fa8303;
  border: solid 1px #fa8303;
  /* transform: translateY(-2px); */
}

@media (max-width: 434px) {

  .habili {
   width: 90%;
  }
}