.dropdown {
  display: none;
  width: 50%;
}

.banderas {
  width: 113px;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 7rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
}

/* Footer */

.pqrs-imput {
  margin-bottom: 3%;
}

.texbloc1{
  display: flex;
  justify-content: center;
  color: white;
}



a.linksl{
  padding-left: 25px;
}

a.linksr{
  
}

.enviar{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.botones3{
  font-family: Poppins-medium;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: white;
  text-transform: uppercase;
  box-shadow: grey 2.5px 2.5px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  width: 30%;
  height: 30px;
  border-radius: 25px;
  background: #1965c8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 1px 1px 1px ;

}

.imgbt {
  padding: 5px;
}

.block3 {
  width: 151px;
}

.explaindiv {
  display: flex;
  margin-left: 12%;
  margin-right: 12%;
  justify-content: space-between;
}

.explain {
  text-align: center;
  width: 100%;
}


textarea{
  border:black;
  border-radius: 8px;
  font-family: Poppins-medium;  
  text-align: center;
  box-shadow: grey 2px 2px 2px 2px;
  height: 90px;
  width: 100%;
}



.pie-pagina{
  width: 100%;
  background-color: #171717;
}
.pie-pagina .grupo-1{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 9px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}
.pie-pagina .grupo-1 .box figure img{
  width: 190px;
  background-color: transparent;
  margin-top: 13%;
}

.pie-pagina .grupo-1 .box2 figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box2 figure img{
  width: 250px;
  background-color: transparent;
  padding-top: 10%;
}
.pie-pagina .grupo-1 .box{
  color: white;
  font-size: 20px;
  padding-left: 17%;
  padding-right: 21%;
}

.pie-pagina .grupo-1 .box2{
  color: white;
  font-size: 20px;
  padding-left: 25%;
  padding-right: 0%;
}

.pie-pagina .grupo-1 .box p {
  color: white;
  margin-bottom: 10px;
}

.red-social{
  padding-left: 80;
  font-family: Poppins-medium;
  margin: 10%;
  
}
.pie-pagina .grupo-1  a{
  text-decoration: none;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 5px;
  font-family: Poppins-medium;
	font-size: 17px;
	line-height: 1.7;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  
}

.pie-pagina .grupo-1 .red-social a:hover{
  color: white;
}


.imgs {
  display: block;
  padding: 0% 20% 2% 20%;
}

.footer3{
  font-size: large;
  color: orangered;
  font-family: comic Verdana, Geneva, Tahoma, sans-serif;
}
.footer2{
  font-family: Coming Soon;
  font-weight: bolder;
}



.column1 {
  column-count: 2;
}


.column2 {
  column-count: 2;
  justify-content: center;
  height: 50px;
}

.column3{
  display: flow-root;
  padding-top: 6%;
  padding-right: 55%;

}

.cucumelo {
  padding-top: 28%;
}

.single {
  display: flex;
  padding-left: 5%;
  font-size: 17px;
}





.copyright {
  font-size: small;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.copyright2 {
  font-size: small;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 15%;
  display: none;
}

/*------------------------------*/

.imgslider {
    width: 100%;
}



.slider {
	margin:auto;
	overflow: hidden;
  width: 80%;
  height: 600px;
  padding: 20px 0px 0px 0px;

}

.slider ul {
	display: flex;
	padding: 0;
	width: 600%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
  height: 608px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	14% {margin-left: 0;}
	
	16% {margin-left: -100%;}
	30% {margin-left: -100%;}
	
	32% {margin-left: -200%;}
	46% {margin-left: -200%;}

  48% {margin-left: -300%;}
	62% {margin-left: -300%;}

  64% {margin-left: -400%;}
	78% {margin-left: -400%;}

  80% {margin-left: -500%;}
	100% {margin-left: -500%;}
	
}




.btn2{
  display: flex;
  justify-content: space-evenly;
}


.botones{
    background-color:#2e83d4;
    display: block;
    color: white;
    padding: 2px 12px 2px 12px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-style: solid; 
    border-color: #2e83d4;
    border-radius: 25px;
    box-shadow: grey 2.5px 2.5px ;
    width: 100%;
    height: 33px;
    font-size: 12px;
}

h2{
  font-size: larger;
  color: black;
  text-align: justify;
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}


body, html {
	height: 100%;
	font-family: Poppins-medium;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-medium;
	font-size: 20px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  padding-left: 5%;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: orange;

}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;

}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
  
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 15px;

}

.wrap-login100 {
  width: auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content:right;
  padding: 50px 50px 50px 50px;
  padding-bottom: 1%;
  box-shadow: #555454 5px 5px 5px 5px;
}


/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
  margin-top: 150px;
}

.login100-pic img {
  max-width: 100%;
}

.Iniciar {
  justify-content: center;
}

/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
  margin: auto;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #2885D1;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 1px;
  justify-content: center;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 10px;
  line-height: 1.5;
  color: #666666;

  display: flex;
  width: 100%;
  background: #e6e6e6;
  height: 25px;
  border-radius: 25px;
  padding: 20px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #4158d0;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out;
  animation: anim-shadow 0.5s ease-in-out forwards;

}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color:#4158d0 ;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #4158d0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}


/*bloque dos*/

.bloque2 {
  background-color: #d9d9d9;
}

.kemway {
  display: flex;
}

.titulobloque2 {
  color: #2e83d4;
}

.titulobloque21 {
  color: #2e83d4;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.containerd {
  position: relative;
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  max-width: 450px;
}

.h3t {
  margin-top: 4%;
  color: #2e83d4;
}


.content {
  height: 500px;
}

.content p {
  font-size: 11px;
}

.containerd .card {
  position: relative;
  max-width: 370px;
  height: 200px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 5);
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  border-bottom: 10px solid #F2C40C;
}

.containerd .card:hover {
  height: 350px;
}

.boton {
  width: 35%;
  background-color: #F2C40C;
  padding: 5px 1px 5px 1px;
  margin-top: 20px;
  border-radius: 20px;
  display: block;
  
}

.botona {
  color: white;
    text-decoration: none;
    margin-top: 50px;
    font-size: 13px;
}

.containerd .card .imgBX {
  position: relative;
  width: 87%;
  height: 172px;
  top: -60px;
  left: 20px;
  z-index: 1;
}

.containerd .card .imgBX img {
  width: 100%;
  height: 100%;
  border-radius: 15px ;
}



.containerd .card .content {
  position: relative;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.containerd .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}



/*PERFIL DE USUARIO*/

.todo {
  width: 100%;

  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.colunm1 {
  width: 27%;
  height: 700px;
  background-color: #e0e5eb;

}

.link {
  color: #1965c8;
}

.infouser {
  width: 100%;
  padding: 10%;

}

.txtes {
  padding-bottom: 7%;
}

.column2 {

}

.subcolunm1 {
  width: 883px;
  height: 55%;
  background-color: #ccd3db;
    margin-left: 3%;
    border-radius: 6px;
}

.subcolunm2 {
  width: 883px;
  height:288px ; 
  background-color: #ccd3db;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 6px;
}

.sub1sub1 {
  
}

.sup1 {
  display: flex;
}

.block3 {
  width: 120px;
  height: 40px;
  border-radius: 10px;
}

.reser {
  font-size: 18px;
  margin-bottom: 5%;
  width: 377px;
}

.reser2 {
  font-size: 16px;
  margin-bottom: 5%;
  width: 377px;
}

.sub1sub1 {
       padding-left: 5%;
     padding-top: 4%;
}

.sub1sub2 {
  padding-top: 16%;
    padding-left: 30%;
    margin-top: 18px;
}

.sub2sub2 {
  padding-top: 7%;
    padding-left: 30%;
    margin-top: 18px;
}

.check {
  color: #5b9aec;
  text-decoration: none;
}




/**/




@media (max-width: 1200px) {
  .kemway {
      display: flex;
      flex-wrap: wrap;
      /* gap: 2.5em; */
      width: 100%;
  }

  .card-title {
      width: 100%;
  }
}


@media (max-width: 1060px) {
  .kemway {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto;
      
  }

  .containerd {
      padding: 0px;
  }

  .card-title {
      width: 100%;
  }

  .card {
      padding: 15px;
  }
  
}

@media (max-width: 960px) {
  .kemway {
      display: flex;
      flex-direction: row;
      width: 100%;
  }
}

@media (max-width: 370px) {
  .kemway {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 20px 20px;
  }

  .containerd {
      margin: 10px;
      width: 100%;
  }

  .card {
      margin: 10px;
      width: 100%;
  }
} 



/*bloque 3*/

.bloque3 {
  width: 100%;
  height: 600px;
  background-color: #f2f2f2;
  display: flex;
}

.bl32 {
  display: flex;
}

.bl322 {
  background-color:#2e83d4 ;
}

.text2bl3 {
  color: #2e83d4;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
    margin-top: 100px;
  }

  .login100-form {
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}






/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position:absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 9px;
  line-height: 1.4;
  text-align: center;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


.end {
  justify-content: flex-end;
}




#hola {
  box-shadow: #555454 5px 5px 5px 5px;
  border-radius: 10px;
  width: auto;
  padding: 20px 20px 20px 20px;
  padding-left: 15px;
  padding-right: 15px;
}


.navlogo{
  padding-right: 1%;
  display: flex;
  justify-content: left;
 
}
 button{
  font-weight: 500;
  font-family: Poppins 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px 0px 15px 0px;
  
  background-color: whitesmoke;
  width: 100%;
}
ol,
ul {
  padding-left: 0.1rem;
}
.logosv2{
  display: flex;
}
.nav_links{
  justify-content: center;
  list-style: none;

}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.EU {
  width: 28px;
  border-radius: 4px;
}

.ES {
  width: 25px;
  border-radius:4px;
  
  
}

.botones2{
  display: block;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 95px;
  margin-right: 95px;

}

.navlink {
  font-size: large;
}
 





/*Aceptar terminos y condiciones*/

.checkbox {
  margin-left: 11px;
}

/*Responsive Footer*/
@media (max-width: 800px) {
  .box2 {
    display: none;
  }

  .pie-pagina .grupo-1 {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 900px) {
  .pie-pagina .grupo-1  a{
    font-size: 10px;
  }

  .texbloc1 {
    font-size: 10px;
  }

  .cucumelo{
    padding-top: 15%;
  }

  .imgs {
    padding: 0% 5% 2% 5%;
    padding-left: 20%;
  }
  .rdi {
    width: 24px;
  }

  .column3 {
    padding-right: 6%;
    padding-left: 9%;
    padding-top: 13%;
  }

  .column2 {
    column-count: 2;
    justify-content: center;
    height: 33px;
  }
  a.linksl {
    padding-left: 0px;
  }

  .pie-pagina .grupo-1 .box {
    font-size: 11px;
    padding-left: 10%;
    padding-right: 1%;
  }

  .copyright2 {
    font-size: 9px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 0%;
    display: block;
  }

  .input100 {
    font-family: Poppins-Medium;
    font-size: 10px;
    line-height: 1.5;
    color: #666666;
  
    display: flex;
    width: 100%;
    background: #e6e6e6;
    height: 25px;
    border-radius: 25px;
    padding: 8px;
  }

  

  header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px 15px 0px;
  }  

  .navlogo {
    width: 36px;
    height: 36px;
  }


  .EU {
    width: 20px;
    height: 12px;
  }

  .ES {
    width: 20px;
    height: 12px;
  }

  button{
    font-weight: 500;
    font-family: Poppins 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    color: black;
    text-decoration: none;
  }
  
  .slider {
    margin:auto;
    overflow: hidden;
    width: 80%;
    height: 300px;
    padding: 20px 0px 0px 0px;
  
  }

  .slider img {
    width: 100%;
    height: 100%;
  }

  .block3 {
    width: 100px;
  }

  .imgbt {
    padding: 3px;
    width: 20px;
  }

  .botones {
    font-size: 11px;
    height: 29px;
  }

  .explain {
    text-align: center;
    width: 100%;
    font-size: 10px;
  }

}

@media (max-width: 320px) {
  .banderas {
    width: 27%;
  }

  .btn btn-secondary dropdown-toggle {
    margin-left: 170%S;
  }
}

@media (max-width: 600px) {
  .slider {
    margin:auto;
    overflow: hidden;
    width: 80%;
    height: 200px;
    padding: 20px 0px 0px 0px;
  
  }
}

@media (max-width: 747px) {
  .dropdown {
    display: block;
  }


  .botones2 {
    display: none;
    
  }
}

@media (max-width: 1250px) {
  .navlink {
    font-size: small;
  }

  .botones2{
    margin-left: 0%;
    margin-right: 0%;
  }

}

@media (max-width: 910px) {
  .navlink {
    font-size: x-small;
  }
}
