@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}


body{
	height: 100%;
	font-family: Poppins-medium;
/*   display: flex; */
}

html {
	height: 100%;
	font-family: Poppins-medium;
}

/*---------------------------------------------*/


/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;

}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

/*PERFIL DE USUARIO*/

.todoperfil {

  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  height: auto;
 
}

.colunm1perfil {
  width: auto;
  height: auto;
  background-color: #e0e5eb;
  padding: 3% 2% 3% 2%;
}

.linkperfil {
  color: #1965c8;
}

.infouserperfil {
  width: 100%;
}





.subcolunm1perfil {
  width: 883px;
  height: 100%;
  background-color: #ccd3db;
  margin-left: 3%;
  border-radius: 6px;
}





.block3perfil {
  width: 120px;
  height: 40px;
  border-radius: 10px;
}



.sub1sub1perfil {
       padding-left: 5%;
     padding-top: 3%;
}


.sub2sub2perfil {
  padding-top: 7%;
    padding-left: 30%;
    margin-top: 18px;
}

.checkperfil {
  color: #5b9aec;
  text-decoration: none;
  font-size: 17px;
  padding-left: 0%;
}


.botonesperfil {
  background-color:#2e83d4;
  display: block;
  color: white;
  padding: 2px 12px 2px 12px;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  border-style: solid; 
  border-color: #2e83d4;
  border-radius: 25px;
  box-shadow: grey 2.5px 2.5px ;
  width: 100%;
  height: 33px;
  font-size: 12px;
}

.titletable {
  color: #2e83d4;
  font-weight: bold;
  font-size: 18px;
}

.atributetable {
  color: #666666;

}












