.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-left: 350px;
    /* background-color: white; */
  }

body{
  background: url(https://i.pinimg.com/originals/bb/e3/47/bbe347e350c0d3975d68ad52a641575f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vh;
  background-position: center;
  background-attachment: fixed;
  object-fit: cover;
  margin: 0;
}


  .form {
    width: 95%;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 5px 15px;
    display: table;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
  }

  p {
    font-size:medium;
    margin-bottom: 0;
  }

  
  .formdown {
    display: flex;
  }

  .img {
    max-width: 100px;
    max-height: 300px;
    width: 500px;
    height: 400px;
    border-radius: 4px;
  }

  .slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    max-height: 500px;
    width: 500px;
    height: 400px;
  }

  .slider {
    margin-left: 7%;
    margin-top: 4%;
  }

  .block1 {
    margin-left: 5%;
    margin-top: 2%;
  }
  .text {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 5px 15px;
    display: table;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
  }

  .barr {
    font-size: large;
  }

  .precios {
    display: flex;
  }
  .h5{
    margin-left: 30%;
  }
  .botones {
    display: flex;
    margin-top: 3%;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
  }

  

  /* Ya no es mio */
  .slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 400px + 3em);
  }

  .slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
  }

  .slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    margin-bottom: 5rem;
  }

  .slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
  }

  .slide-control.prev {
    left: 2%;
  }

  .slide-control.next {
    right: 2%;
  }

  .slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
  }

  #slide-1:checked ~ .control-1,
  #slide-2:checked ~ .control-2,
  #slide-3:checked ~ .control-3 {
    display: block;
  }

  .slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }

  .slide-indicador li {
    display: inline-block;
    margin: 0 5px;
  }

  .slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }

  .slide-circulo:hover {
    color: #aaaaaa;
  }

  #slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
  #slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
  #slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
  }

  #titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
  }

 