* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-padre {
    display: grid;
    gap: 30px;
    width: 100%;
    min-width: 320px;
    position: relative;
    height: auto;
    margin: 20px auto;
    padding: 20px 10px;
}

.container-card {
    position: relative;
    width: 58%;
    min-width: 288px;
    max-width: 353px;
    min-height: 267px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 19px rgb(0 0 0);
    border-bottom: 8px solid #F1C50D
}

.container-card .container-img {
    width: 100%;
}

.container-card .container-img img {
    position: absolute;
    width: 256px;
    height: 145px;
    top: -40px;
    left: calc(50% - 125px);
    background-size: cover;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 2px 2px 14px rgb(0 0 0);
}

.container-content {
    margin-top: 80px;
    padding: 15px;
}

.titulo {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
    color: #4158d0;
}

.container-information {
    text-align: center;
    position: relative;
    font-size: 9px;
    margin-bottom: 15px;
}

.buttom {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    left: calc(50% - 60px);
    margin-top: -5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    border-radius: 8px;
    color: white;
    background-color: #F1C50D;
}


.buttom:hover {
    background-color:#4158d0;
    transform:translateY(-6px);
}


/* .container-img img:hover {
    border-radius:50%;
-webkit-border-radius:50%;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
} */

/* Medias */

@media (min-width: 888px) {
    .container-padre {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 60px 3px;
        width: 100%;
        min-width: 320px;
        position: relative;
        height: auto;
        margin: 20px auto;
        padding: 20px 10px;
    }
}


@media (min-width: 1286px) {
    .container-padre {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        width: 100%;
        min-width: 320px;
        position: relative;
        height: auto;
        margin: 20px auto;
        padding: 20px auto;
    }
}