@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
  }
  
.pqrs-imput {
    margin-bottom: 3%;
  }
  
  .texbloc1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
  }
  
  
  a.linksl{
    padding-left: 25px;
  }
  
  
  .enviar{
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }
  
  .botones3{
    font-family: Poppins-medium;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    color: white;
    text-transform: uppercase;
    box-shadow: grey 2.5px 2.5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    width: 30%;
    height: 30px;
    border-radius: 25px;
    background: #1965c8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 1px 1px 1px ;
  
  }
  
  .imgbt {
    padding: 5px;
  }
  
  .block3 {
    width: 151px;
  }
  
  .explaindiv {
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
    justify-content: space-between;
  }
  
  .explain {
    text-align: center;
    width: 100%;
  }
  
  
  textarea{
    border:black;
    border-radius: 8px;
    font-family: Poppins-medium;  
    text-align: center;
    box-shadow: grey 2px 2px 2px 2px;
    height: 90px;
    width: 100%;
  }
  
  
  
  .pie-pagina{
    width: 100%;
    background-color: #171717;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 9px;
  }
  
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 190px;
    background-color: transparent;
    margin-top: 13%;
  }
  
  .pie-pagina .grupo-1 .box2 figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box2 figure img{
    width: 250px;
    background-color: transparent;
    padding-top: 10%;
  }
  .pie-pagina .grupo-1 .box{
    color: white;
    font-size: 20px;
    padding-left: 17%;
    padding-right: 21%;
  }
  
  .pie-pagina .grupo-1 .box2{
    color: white;
    font-size: 20px;
    padding-left: 25%;
    padding-right: 0%;
  }
  
  .pie-pagina .grupo-1 .box p {
    color: white;
    margin-bottom: 10px;
  }
  
  .red-social{
    padding-left: 80;
    font-family: Poppins-medium;
    margin: 10%;
    
  }
  .pie-pagina .grupo-1  a{
    text-decoration: none;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 5px;
    font-family: Poppins-medium;
      font-size: 17px;
      line-height: 1.7;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    
  }
  
  .pie-pagina .grupo-1 .red-social a:hover{
    color: white;
  }
  
  
  .imgs {
    display: block;
    padding: 0% 20% 2% 20%;
  }
  
  .footer3{
    font-size: large;
    color: orangered;
    font-family: comic Verdana, Geneva, Tahoma, sans-serif;
  }
  .footer2{
    font-family: Poppins-medium;
    font-weight: bolder;
  }
  
  
  
  .column1 {
    column-count: 2;
  }
  
  
  .column2 {
    column-count: 2;
    justify-content: center;
    height: 50px;
  }
  
  .column3{
    display: flow-root;
    padding-top: 6%;
    padding-right: 55%;
  
  }
  
  .cucumelo {
    padding-top: 28%;
  }
  
  .single {
    display: flex;
    padding-left: 5%;
    font-size: 17px;
  }
  
  
  .copyright {
    font-size: small;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 15%;
  }
  
  .copyright2 {
    font-size: small;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 15%;
    display: none;
  }
  

  .formulario{
    justify-content: center;
    padding: 20px;
    /*padding-left: 30px;*/
    width: 60%;
    background-color: white;
    border-radius: 10px;
  }

  a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #4158d0;
}


p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-medium;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
  }
  
  .txt2 {
    font-family: Poppins-medium;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }
  

/*------------------------------------------------------------------
[ Responsive ]*/
  
@media (max-width: 768px) {
  
    /*.login100-pic {
      display: none;
    }*/
  
    .login100-form {
      width: 100%;
    
    }
  
    
  .column1 {
    display: flex;
    flex-direction: column;
  }
  
  
  .column2 {
    display: flex;
    flex-direction: column;
  }
  
  .wrap-login100 {
    padding: 0;
    width: 100%;
    box-shadow: none;
  }
  .formulario {
    border: 1px black solid;
    width: 100%;
    padding: 15px 60px;
    
  }
  
  }

  .pie-pagina{
    width: 100%;
    background-color: #171717;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 9px;
  }
  
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 190px;
    background-color: transparent;
    padding-top: 3%;
    
  }
  
  .pie-pagina .grupo-1 .box2 figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box2 figure img{
    width: 190px;
    background-color: transparent;
    padding-top: 26%;
    
  }
  .pie-pagina .grupo-1 .box{
    color: white;
    font-size: 20px;
    padding-left: 17%;
    padding-right: 21%;
  }
  
  .pie-pagina .grupo-1 .box2{
    color: white;
    font-size: 20px;
    padding-left: 25%;
    padding-right: 0%;
  }
  
  .pie-pagina .grupo-1 .box p {
    color: white;
    margin-bottom: 10px;
  }
  
  .red-social{
    padding-left: 80;
    font-family: Poppins-medium;
    margin: 10%;
    
  }
  .pie-pagina .grupo-1  a{
    text-decoration: none;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 5px;
    font-family: Poppins-medium;
      font-size: 17px;
      line-height: 1.7;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    
  }
  
  .pie-pagina .grupo-1 .red-social a:hover{
    color: white;
  }
  
  
  .imgs {
    display: flex;
    padding: 0% 30% 2% 30%;
  }
  
  .footer3{
    font-size: larger;
    font-weight: bolder;
    color: orangered;
    font-family: Open Sans, sans-serif;
  }
  .footer2{
    font-family: Open Sans, sans-serif;
    font-weight: bolder;
  }
  
  
  .column1 {
    column-count: 2;
  }
  
  
  .column2 {
    column-count: 2;
    justify-content: center;
  }
  
  .column3{
    display: flow-root;
    padding-top: 20%;
    padding-right: 55%;
  
  }
  
  .cucumelo {
    padding-top: 28%;
  }
  
  .single {
    display: flex;
    padding-left: 5%;
    font-size: 17px;
  }
  
  

  
  .copyright {
    font-size: small;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 25%;
  }
  
  .input100 {
    font-family: Poppins-medium;
    font-size: 10px;
    line-height: 1.5;
    color: #666666;
  
    display: flex;
    width: 100%;
    background: #e6e6e6;
    border-radius: 25px;
    padding: 10px;
  }
  
  .pqrs-imput {
    margin-bottom: 3%;
  }
  
  
  .fa{
    padding-right: 10px;
  }
  .ins{
    padding-right: 10px;
  }
  .tw{
    padding-top: 3px;
  }
  .botones3{
    font-family: Poppins-medium;
      font-size: 15px;
      line-height: 1.5;
      text-align: center;
      color: white;
      text-transform: uppercase;
      box-shadow: grey 2.5px 2.5px;
      width: 30%;
      height: 30px;
      border-radius: 25px;
      background: #4158d0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px 1px 1px 1px;
  }
  
  li.enviar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
  }
  
  
  