textarea{
  border:black;
  border-radius: 8px;
  font-family: Open Sans, sans-serif;
  text-align: center;
  box-shadow: grey 2px 2px 2px 2px;
  margin: 0 5%;
}



.pie-pagina{
  width: 100%;
  background-color: transparent;
}
.pie-pagina .grupo-1{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 9px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 190px;
  background-color: transparent;
  padding-top: 3%;
  
}

.pie-pagina .grupo-1 .box2 figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box2 figure img{
  width: 190px;
  background-color: transparent;
  padding-top: 26%;
  
}
.pie-pagina .grupo-1 .box{
  color: white;
  font-size: 20px;
  padding-left: 17%;
  padding-right: 21%;
}

.pie-pagina .grupo-1 .box2{
  color: white;
  font-size: 20px;
  padding-left: 25%;
  padding-right: 0%;
}

.pie-pagina .grupo-1 .box p {
  color: white;
  margin-bottom: 10px;
}

.red-social{
  padding-left: 80;
  font-family: Open Sans, sans-serif;
  margin: 10%;
  
}
.pie-pagina .grupo-1  a{
  text-decoration: none;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 5px;
  font-family: Open Sans, sans-serif;
	font-size: 17px;
	line-height: 1.7;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  
}

.pie-pagina .grupo-1 .red-social a:hover{
  color: white;
}


.imgs {
  display: flex;
  padding: 0% 30% 2% 30%;
}

.footer3{
  font-size: larger;
  font-weight: bolder;
  color: orangered;
  font-family: Open Sans, sans-serif;
}
.footer2{
  font-family: Open Sans, sans-serif;
  font-weight: bolder;
}



.column1 {
  column-count: 2;
}


.column2 {
  column-count: 2;
  justify-content: center;
}

.column3{
  display: flow-root;
  padding-top: 20%;
  padding-right: 55%;

}

.cucumelo {
  padding-top: 28%;
}

.single {
  display: flex;
  padding-left: 5%;
  font-size: 17px;
}





.copyright {
  font-size: small;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.input100 {
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  color: #666666;

  display: flex;
  width: 100%;
  background: #e6e6e6;
  border-radius: 25px;
  padding: 10px;
}

.pqrs-imput {
  margin-bottom: 3%;
}


input {
  outline: none;
  border: none;
}


.fa{
  padding-right: 10px;
}
.ins{
  padding-right: 10px;
}
.tw{
  padding-top: 3px;
}
.botones3{
  font-family: Poppins-medium;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    color: white;
    text-transform: uppercase;
    box-shadow: grey 2.5px 2.5px;
    width: 30%;
    height: 30px;
    border-radius: 25px;
    background: #4158d0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 1px 1px 1px;
}

li.enviar{
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

/**/


header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 10px 10px 0px;
}
.navlogo {
  padding-right: 1%;
  display: flex;
  justify-content: left;
}

.logosv2 {
  display: flex;
}
.nav_links {
  justify-content: center;
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.botones2 {
  display: block;
  color: white;
  padding: 2px 12px 2px 12px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 95px;
  margin-right: 95px;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
  transition: all 0.3s ease 0s;
  font-family: Open sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

a {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

a:hover {
  text-decoration: none;
  color: orange;
}
.banderas {
  display: flex;
  justify-content: center;
}
.container {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-left: 350px;
  background-color: white;
}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/




.navlogo{
  padding-right: 1%;
  justify-content: left;
  
}
.nav {
  background-color: white;
  font-family: Open Sans, sans-serif;
  justify-content: center;
  font-size: 20px;
  font-weight: 900;
  padding: 5px 10px;

}

.nav-tabs{
  border-bottom: 0px solid #dee2e6;
}

.nav-link{
  display: block;
  padding: 0.9rem 1rem;
  color: #4158D0;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  font-family: Open Sans, sans-serif;
  font-weight: bolder;
}


@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}


body, html {
	height: 100%;
  font-family: Open Sans, sans-serif;
  background-color: white;
}

/*---------------------------------------------*/
a {
  font-family: Open Sans, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}


/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
  font-family: Open Sans, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
  justify-content: center;
}

.inputcorreo{
  justify-content: center;
  border: groove;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Open Sans, sans-serif;
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: center;
  align-items: center;
}


#logo{
  position: relative;
  padding-top: 4rem;
}
.wrap-login100 {
  width: auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content:right;
  padding: 30px 30px;
  padding-bottom: 1%;
  box-shadow: #555454 5px 5px 5px 5px;
}
.formulario{
  justify-content: center;
  margin-right: 10px;
  padding: 20px 20px;
  padding-left: 30px;
}


/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 300px;
}

.login100-pic img {
  max-width: 100%;
}

.Iniciar {
  justify-content: center;
}

/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Open Sans, sans-serif;
  font-size: 40px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 30px;
  width: 100%;
  display: block;
  font-weight: bolder;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  text-align:left;

  display: flex;
  width: 100%;
  background: #e6e6e6;
  height: 40px;
  border-radius: 25px;
  padding: 0 10px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #4158d0;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color:#4158d0 ;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7px;
}

.login100-form-btn {
  font-family: Open Sans, sans-serif;
  font-weight: bolder ;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 40%;
  height: 40px;
  border-radius: 25px;
  background: #4158d0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 10px 10px;
  }

  .login100-pic {
    width: 35%;
  }


}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 30px 30px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 80%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}*/



/*  VENTANA   */


.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: collapse;
}

.overlay.active {
	visibility: inherit;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
  font-family: Open Sans, sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: black;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: green;
	border-radius: 3px;
  font-family: Open Sans, sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

.btn-abrir-popup{
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: grey;
  text-decoration: underline;
}

label{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

